.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    min-height: 100vh;
    padding: 1rem;
}

.auth-form-container {
    border: 2px solid #690102;

    padding: 6rem 3rem 3rem;
    width: 100%;
    max-width: 360px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    position: relative;
}
.auth-form-logo {
    position: absolute;
    top: -60px;

    padding: 2px;
    font-size: 24px;

    width: 120px;
    height: 120px;
    background: white;
    border: 3px solid #690102;

    border-radius: 100%;
    color: #690102;

    font-weight: 500;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-form-input {
    font-size: 1rem;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 2px;
    padding: .8rem;
    padding-left: 2rem;
    background-color: transparent;
    border-bottom: 2px solid #690102;

}

.auth-form-input::placeholder {
    color: #8f8f8f;
}

.auth-icon {
    position: absolute;
    top: 8px;
    left: 4px;
    width: 20px;
}

.auth-form-input-submit {
    padding: .8rem 4rem;
    border: none;
    background-color: #690102;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    position: absolute;
    bottom: -20px;
}
.auth-form-options-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.auth-form-label {
    width: 100%;
    position: relative;
}

.auth-form-text {
    font-size: .8rem;
    color: #8f8f8f;
}

.auth-form-text:nth-child(2) {
    font-style: italic;

}

.auth-form-redirect {
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #690102;

}